name: Sync Backend to Hugging Face Hub

on:
  push:
    branches: [main]
    paths:
      - 'backend/**' # Only trigger when backend files change

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Push to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: muhammadfaheem52006
          HF_SPACE_NAME: SaloonManagementSystemBackend
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          # Force push only the backend folder to the main branch of the space
          git subtree split --prefix backend -b deploy-backend
          git push https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$HF_SPACE_NAME deploy-backend:main --force
